.header {
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /*#504538
  #545479
  #4BC0D3
  #4E8D9F
  #7F2D00
  #334A52
  #003544
  #9C4500*/
  background-color: #004E5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  color: whitesmoke;
  font-size: larger;
}
.header-today{
  margin-left: 10px;
  flex:1;
}
.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  height: 1em;
  flex: 2;
  height: 55px;
}
.header-logo-img{
  margin-right: 4px;
  width:32px;
  height: 30px;
  object-fit: cover;
}
.header-title{
  font-size: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.slogan{
  font-size: 16px;
  margin-top: 5px;
  flex: 1;
  text-align: center;
}
.header-later{
  text-align: end;
  flex: 1;
  margin-right: 10px;
}
body{
  background-color: #FCF5EE;
  font-family: "Anta", Arial;
  font-size: 18px;
  margin:0;
}

.container{ margin-top: 100px;}
.days-grid-div{
  padding: 10px;
  padding-top: 0px;
  margin:20px;
  /*border: 4px solid #badc58;*/
  border-radius: 5px;
  background-color: #FCF5EE;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  justify-content: space-between;
  align-items: center;
}
.day-div{
  position: relative;
  padding: 0px;
}
.day-div, .tasksBox-div{
  background-color: #A4DCD9;
  border-radius: 6px;
  height: 200px;
  padding: 4px 0px 0 10px 0;
  overflow: auto;
  display:flex;
  flex-direction: column;
}
.days-grid-div>:nth-child(8){
  /*Formatting the tasks box to take 2 spaces*/
  grid-column: 2 / span 2;
}
.task-div, .task-add-div{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:flex-start;
  margin:0 10px 10px 10px;
  background-color: #84C3D6;
  border-radius: 35px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.task-add-div{
  height: 44px;
  padding: 10px 14px 10px 14px;
  display: flex;
  justify-content:center;
}

.day-name {
  color: black;
  /*font-weight: bold;*/
  text-align: center;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 6px;
  position:sticky;
  display: flex; 
  justify-content: center;
  font-size: 20px;
}

.section-todo, .section-done{
  font-weight: bold;
  margin-left: 14px;
  margin-right: 10px;
  margin-bottom: 4px;
}
.sep{
  background-color: black;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
}
.task-div>p{
  margin-left: 20px;
  vertical-align: top;
  flex: 7;
}

.checkbox{
  width: 1.3em;
  height: 1.3em;
  background-color: #FCF5EE;
  border-radius: 50%;
  vertical-align: middle;
  border: 4px solid #A4DCD9;
  appearance: none;
  /*-webkit-appearance: none;*/
  outline: none;
  cursor: pointer;
  transition: 1s all;
}
.checkbox:checked{
  background-color: #84C3D6;
}

.task-input{
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;

  border-radius: 8px;
  border-radius: 18px 0px 0px 18px;
  border-style: none;

  font-family: "Anta", Arial;
  font-size: 18px;
  width: 0.7rem;
  flex:8;
}
.add-button{
  font-family: "Anta", Arial;
  font-size: 18px;
  text-wrap:nowrap;
  padding-top: 6px;
  padding-bottom: 6px;
  flex: 3;
  border:none;
  background-color: #FAEFE4;
  cursor: pointer;
  border-radius: 0px 18px 18px 0px;
}
.delete-button, .migrate-button{
  font-family: "Anta", Arial;
  background-color: #FAEFE4;
  /*font-size: 18px;*/
  border-style: none;
  border-radius: 12px;
  cursor: pointer;
  /*flex: 0.5;*/
  padding: 0;
  height: 25px; width: 25px;
  margin-left: 4px; margin:4px;
  text-align:center;
  display: flex;
  justify-content: center;
}
.migrate-img-button{
  width: 19px;
  height: 19px;
  padding-top: 0.8px; padding-left: 2px;
  object-fit:cover;
}
.bottom{
  background-color: #004E5F;
  color: whitesmoke;
}

@media (max-width: 850px) { 
  /*If the screen width is less than 750px*/
  .days-grid-div {
    grid-template-columns: 1fr 1fr;
  }
  .days-grid-div>:nth-child(1) {
  grid-column: 1 / span 2 ; 
  /*takes 2 spaces starting from the 1st column*/
  }
  .days-grid-div>:nth-child(8) {
    grid-column: 1 / span 2;
  }
  .header{
    height:75px;
  }
  .slogan{
    font-size: 14px;
    margin: 0;
  }
  .container {
    margin-top: 105px;
  }
  .header-today, .header-later{
    font-size: 16px;
  }
  .header-logo{
    flex:3;
  }
}